---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/NavBar.astro';
import Stars from '../components/Stars.astro';
import Valores from '../components/Valores.astro';
import FloatLetters from '../components/FloatLetters.astro';
---

<Layout title="CubiTz">
	<Stars amount={10}/>
	<header>
		<Navbar links={["Inicio", "¿Quienes_Somos?", "Proyectos", "Equipo"]}/>
	</header>
	<main>
		<section class="inicio">
			<FloatLetters letters={["C","u","b","i","T","z"]}/>
			<p>Description ###################################################</p>
			<a href="" target="_blank">Contactenos</a>
			<div class="planet1"></div>
			<div class="planet2"></div>
			<div class="planet3"></div>
		</section>	
		
		<section id="¿quienes_somos?">
			<Valores tam={200} valores={["Valor1","Valor2","Valor3"]}/>
		</section>
		
		<section id="proyectos"></section>
		
		<section id="tecnologia"></section>
		
		<section id="equipo"></section>
	</main>
</Layout>
<style>
	main {
		padding-inline: 8%;
		display: flex;
		flex-direction: column;
		height: 100%;
	}
	body{
		margin: 0;
		padding: 0;
	}
	header {
		position: sticky;
		top: 0;
		z-index: 2;
		display: flex;
		justify-content: space-around;
		display: sticky;
		padding-block: 10px;
	}
	.inicio {
		display: flex;
		flex-direction: column;
		
		border-top: 2px solid #FFF;
		border-inline: 2px solid #FFF;
		
		border-top-left-radius: 40px;
		border-top-right-radius: 40px;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}
	.planet1 {
		z-index: 1;
		width: 8vw;
		height: 8vw;
		background-color: var(--cubitz1-dark);
		transform: rotate(45deg);
		position: absolute;
		margin: auto;
		left: 1.5625vw;
		top: 25vw;
		box-shadow: 0 0 31.25rem 4vw rgb(235, 255, 104, 0.5);
	}
	.planet2 {
		z-index: -1;
		width: 6vw;
		height: 6vw;
		background-color: var(--cubitz2-dark);
		transform: rotate(45deg);
		position: absolute;
		margin: auto;
		inset: 0;
		box-shadow: 0 0 31.25rem 5vw rgb(72, 157, 255, 0.5);
	}
	.inicio p{
		align-self: center;
		margin: 8.75vw 0 1.25rem 0;
		font-size: 1.5rem;
		max-width: 25%;
		text-wrap: wrap;
		overflow-wrap: break-word;
		text-align: center;
	}
	@media (max-width: 1000px) {
        .inicio p{
			max-width: 50%;
		}
    }
	.inicio a{
		align-self: center;
		color: var(--background-dark);
		text-decoration: none;
		font-family: "aldrich", sans-serif;
		font-size: x-large;
		background-color: var(--cubitz1-dark);
		font-size: 1.8rem;
		padding-inline: 1.2rem;
		padding-block: 0.5rem;
		border-radius: 18px;
		transition: background-color 0.2s cubic-bezier(.4,0,.2,1);
		margin-bottom: 6.25vw; 
	}
	.inicio a:hover{
		background-color: hsl(68, 100%, 90%);
	}
</style>