---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/NavBar.astro';
import Stars from '../components/Stars.astro';
import Values from '../components/Values.astro';
import FloatLetters from '../components/FloatLetters.astro';
import ProyectCard from '../components/ProyectCard.astro';
import TeamCard from '../components/TeamCard.astro';
import Button from '../components/Button.astro';
import Telegram from '../components/svg/telegram.astro';
import Youtube from '../components/svg/youtube.astro';
import Github from '../components/svg/github.astro';
---

<Layout title="CubiTz">
	<Stars/>
	<header>
		<Navbar names={["Info", "Proyectos", "Equipo"]} links={["inicio", "quienesSomos", "proyectos", "equipo"]}/>
	</header>
	<main>
		<section id="inicio">
			<div class="letters">
				<FloatLetters letters={["C","u","b","i","T","z"]}/>
			</div>
			<p class="description">Somos un grupo apasionado por entregar lo mejor en cada proyecto</p>
			<div class="contact">
				<span>
				<Button text="Contactenos" link="https://t.me/DanDragonay">
						<Telegram/>
				</Button>
				</span>
			</div>
		</section>	
		
		<section id="quienesSomos">
			<div class="info">
				<h2>¿Quienes Somos?</h2>
				<p>Un grupo de estudiantes de la UCAB que se divierten creando proyectos variados y compartiéndolos con el mundo.</p>
			</div>
			<div class="values"><Values values={["Organización","Robustez","Calidad"]}/></div>
			<div class="youtube">
				<Button text="Youtube" link="https://t.me/DanDragonay" color="#ff6d6255">
					<Youtube/>
				</Button>
			</div>
			<div class="github">
					<Button text="Github" link="https://t.me/DanDragonay" color="#489dff55">
						<Github/>
					</Button>
			</div>
		</section>
		
		<section id="proyectos">
			<div class="titleSvg">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M7 8l-4 4l4 4"></path><path d="M17 8l4 4l-4 4"></path><path d="M14 4l-4 16"></path></svg>
				<h2>Proyectos</h2>
			</div>
			
			<div class="scrollContainer">
				<div class="scroll">

				</div>
				<div class="proyectContainer">
				<h3 class="semester">Segundo Semestre</h3>
				<ProyectCard 
				name='Tetris'
				description='Un Tetris de jugabilidad moderna con sistema de puntuaciones y cuentas. Con música, efectos de sonido y fondo animado.'
				img='tetris.jpg'
				tech={[['Python', "blue"],['Pygame', "#09C018"]]}
				link="https://github.com/CubiTz-cube/Tetris_Espacial"
				/>
				<ProyectCard 
				name='Aplicación Fit - CubiTz Sports'
				description='Registra actividades, calcula calorías y te da las estadísticas de tu progreso. ¡Todo con una interfaz gráfica minimalista!.'
				img='cubitzSport.png'
				tech={[['C', "gray"],['Raylib', "#DB0E23"]]}
				link="https://github.com/CubiTz-cube/AplicacionFit_CubitzSport"
				/><hr>
				<h3 class="semester">Primer Semestre</h3>
				<ProyectCard 
				name='Juego de la vida'
				description='La base creada por Conway expandida con un sistema de guardado, pausa, sonido, personalización de tablero y soporte para varias células diferentes simultáneas.'
				img='gameOfLife.png'
				tech={[['Python', "blue"],['Pygame', "#09C018"]]}
				link="https://github.com/CubiTz-cube/Juego-de-la-vida"
				/>
				</div>
			</div>
		</section>
		
		<section id="equipo">
			<div class="titleSvg">
				<svg width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path><path d="M6 21v-2a4 4 0 0 1 4 -4h4"></path><path d="M15 19l2 2l4 -4"></path></svg>
				<h2>Equipo</h2>
			</div>
			<div class="teamContainer">
				<div><TeamCard name="Daniel" title='CEO' img="daniel.jpg"/></div>
				<div><TeamCard name="Jose" title='Empleado' img="jose.jpg"/></div>
			</div>
		</section>
		
		<footer>
			<p>©2024 CubiTz. Casi todos los derechos reservados</p>
			<a href="https://www.youtube.com/midudev" target="_blank" rel="noopener noreferrer" >Agradecimientos a Midudev</a>
			<a href="https://t.me/DanDragonay" target="_blank" rel="noopener noreferrer">Contacto</a>
		</footer>
	</main>
</Layout>
<style>
	main {
		padding-inline: 8vw;
		display: flex;
		flex-direction: column;
	}
	body{
		margin: 0;
		padding: 0;
	}
	header {
		position: sticky;
		top: 0;
		z-index: 2;
		display: flex;
		justify-content: space-around;
		align-items: center;
		display: sticky;
		padding-block: 10px;
	}
	section{
		padding-block: 8rem;
	}

	#inicio {
		display: flex;
		flex-direction: column;
		padding-block: 0;
		
		border-top: 2px solid #FFF;
		border-inline: 2px solid #FFF;
		
		border-top-left-radius: 40px;
		border-top-right-radius: 40px;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}
	.letters{
		flex: 2;
		margin-bottom: 6rem;
		margin-top: 2rem;
	}
	.description{
		opacity: 0.9;
		flex: 1;
		align-self: center;
		font-size: x-large;
		max-width: 18.75rem;
		text-wrap: wrap;
		overflow-wrap: break-word;
		text-align: center;
	}
	.contact{
		flex: 1;
		display: flex;
		justify-content: center;
		margin-bottom: 2rem;
	}
	.contact span{
		max-width: 20rem;
		min-width: 10rem;
	}

	#quienesSomos{
		display: grid;
		min-height: 25rem;
		grid-template-columns: repeat(2, 2fr) 3fr;
		grid-template-rows: repeat(2, 3fr) 2fr;
		row-gap: 1rem;
		grid-template-areas:
			"info info values "
			"info info values "
			"github youtube .";
	}
	@media screen and (max-width: 800px){
		#quienesSomos{
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 2fr 1fr 0.5fr;
			grid-template-areas:
			"info info"
			"values values"
			"github youtube";
		}
	}
	.info{
		border-radius: 24px;
		margin-block: 0.5rem;
		grid-area: info;
		background-color: rgb(156, 156, 156, 0.2);
		border: #FFF solid 2px
	}
	.info h2{
		margin-block: 1rem;
	}
	.info p{
		font-size: clamp(1.3em, 1.3vw, 1.7em);
		margin-inline: 3vw;
	}
	.values{
		grid-area: values;
	}
	.youtube, .github {
        margin-inline: 1vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .youtube {
        grid-area: youtube;
    }
	.github {
        grid-area: github;
    }

	#proyectos{
		
	}
	.scrollContainer{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		gap: 1.5vw;
	}
	.scroll{
		border: 0;
		height: auto;
		min-width: 1px;
		background: #ffffff;
		margin: 1rem 10px;
	}
	.proyectContainer{
		flex: 12;
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}
	.semester{
		color: var(--cubitz3-dark);
		font-size: clamp(1.3em, 1.3vw, 1.7em);
		font-weight: bold;
		font-family: "lekton", sans-serif;
		margin: 0;
    }
	.semester:before{
		content: "";
		display: block;
		width: 20px;
		height: 20px;
		background-color: var(--cubitz3-dark);
		position: absolute;
		left: 8vw;
		transform: translateY( 30%);
		border-radius: 50%;
    }

	#equipo{
		display: flex;
		flex-direction: column;
	}
	.teamContainer{
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(12.5rem, 37.5rem));
		grid-auto-flow: row;
		row-gap: 1rem;
		column-gap: 2rem;
		justify-content: center;
	}

	h2{
		text-align: center;
		font-size: clamp(2em, 3vw, 3em);
		font-family: "aldrich", sans-serif;
	}
	@keyframes glow {
        from {
		filter: drop-shadow(0 0 10px #298e99);
        }
        to {
		filter: drop-shadow(0 0 10px #489dff) drop-shadow(0 0 3px #58d4e2);
        }
    }
	.titleSvg{
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1.5vw;
		animation: glow 2s ease-in-out infinite alternate;
	}
	.titleSvg svg{
		height: 100%;
		width: 2.5em;
	}

	footer{
		display: flex;
		gap: 3vw;
		justify-content: center;
		align-items: center;
		height: 5rem;
		font-size: clamp(0.5em, 0.8vw, 1em);
		color: inherit;
	}
	footer a{
		text-decoration: none;
		color: inherit;
	}
	footer a:hover{
		text-decoration: underline;
		color: var(--cubitz1-dark);
	}
</style>