---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<header>
		
	</header>
	<main>
		<sectiona id="inicio"></section>
		
		<section id="quienes_somos">
			
		</section>
		
		<section id="proyectos"></section>
		
		<section id="tecnologia"></section>
		
		<section id="equipo"></section>

		
	</main>
</Layout>

<style>

</style>

html
