---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/NavBar.astro';
import Stars from '../components/Stars.astro';
import Values from '../components/Values.astro';
import FloatLetters from '../components/FloatLetters.astro';
import ProyectCard from '../components/ProyectCard.astro';
import TeamCard from '../components/TeamCard.astro';

---

<Layout title="CubiTz">
	<Stars/>
	<header>
		<Navbar names={["Info", "Proyectos", "Equipo"]} links={["inicio", "quienesSomos", "proyectos", "equipo"]}/>
	</header>
	<main>
		<section id="inicio">
			<div class="letters">
				<FloatLetters letters={["C","u","b","i","T","z"]}/>
			</div>
			<p class="description">Somos un grupo apasionado por entregar lo mejor en cada proyecto</p>
			<div class="contact">
				<a href="" target="_blank">Contactenos</a>
			</div>
		</section>	
		
		<section id="quienesSomos">
			<div class="info">
				<h2>¿Quienes Somos?</h2>
				<p>Un grupo de estudiantes de la UCAB que se divierten creando proyectos variados y compartiéndolos con el mundo.</p>
			</div>
			<div class="values"><Values values={["Organización","Robustez","Calidad"]}/></div>
			<a class="youtube" href="http://www.youtube.com/@CubiTz_" target="_blank" rel="noopener noreferrer"><h3>Youtube</h3></a>
			<a class="github" href="https://github.com/CubiTz-cube" target="_blank" rel="noopener noreferrer"><h3>Github</h3></a>
		</section>
		
		<section id="proyectos">
			<h2>Proyectos</h2>
			<div class="scrollContainer">
				<div class="scroll">

				</div>
				<div class="proyectContainer">
				<h3 class="semester">Primer Semestre</h3>
				<ProyectCard 
				name='Juego de la vida'
				description='La base creada por Conway expandida con un sistema de guardado, pausa, sonido, personalización de tablero y soporte para varias células diferentes simultáneas.'
				img='/CubiTzPage/gameOfLife.png'
				tech={[['Python', "blue"],['Pygame', "#09C018"]]}
				/><hr>
				<h3 class="semester">Segundo Semestre</h3>
				<ProyectCard 
				name='Tetris'
				description='Un Tetris de jugabilidad moderna con sistema de puntuaciones y cuentas. Con música, efectos de sonido y fondo animado.'
				img='/CubiTzPage/tetris.jpg'
				tech={[['Python', "blue"],['Pygame', "#09C018"]]}
				/>
				</div>
			</div>
		</section>
		
		<section id="equipo">
			<h2>Equipo</h2>
			<div class="teamContainer">
				<div><TeamCard name="Daniel" title='CEO' img="/CubiTzPage/daniel.png"/></div>
				<div><TeamCard name="Jose" title='Empleado' img="/CubiTzPage/jose.png"/></div>
				<div><TeamCard name="Jose" title='Empleado' img="/CubiTzPage/jose.png"/></div>
				<div><TeamCard name="Jose" title='Empleado' img="/CubiTzPage/jose.png"/></div>
				<div><TeamCard name="Jose" title='Empleado' img="/CubiTzPage/jose.png"/></div>
			</div>
		</section>
	</main>
</Layout>
<style>
	main {
		padding-inline: 8%;
		display: flex;
		flex-direction: column;
		gap: 18rem;
	}
	body{
		margin: 0;
		padding: 0;
	}
	header {
		position: sticky;
		top: 0;
		z-index: 2;
		display: flex;
		justify-content: space-around;
		align-items: center;
		display: sticky;
		padding-block: 10px;
	}

	#inicio {
		display: flex;
		flex-direction: column;
		
		border-top: 2px solid #FFF;
		border-inline: 2px solid #FFF;
		
		border-top-left-radius: 40px;
		border-top-right-radius: 40px;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}
	.letters{
		flex: 2;
		margin-bottom: 6rem;
		margin-top: 2rem;
	}
	.description{
		opacity: 0.9;
		flex: 1;
		align-self: center;
		font-size: x-large;
		max-width: 18.75rem;
		text-wrap: wrap;
		overflow-wrap: break-word;
		text-align: center;
	}
	.contact{
		flex: 1;
		display: flex;
		justify-content: center;
	}
	.contact a{
		align-self: center;
		color: var(--background-dark);
		text-decoration: none;
		font-family: "aldrich", sans-serif;
		font-size: x-large;
		background-color: var(--cubitz1-dark);
		font-size: 1.8rem;
		padding-inline: 1.2rem;
		padding-block: 0.5rem;
		border-radius: 18px;
		transition: background-color 0.2s cubic-bezier(.4,0,.2,1);
		margin-bottom: 6.25vw; 
	}
	.contact a:hover{
		background-color: hsl(68, 100%, 90%);
	}

	#quienesSomos{
		display: grid;
		min-height: 25rem;
		grid-template-columns: repeat(2, 2fr) 3fr;
		grid-template-rows: repeat(2, 3fr) 2fr;
		row-gap: 1rem;
		grid-template-areas:
			"info info values "
			"info info values "
			"github youtube .";
	}
	@media screen and (max-width: 800px){
		#quienesSomos{
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 2fr 1fr 0.5fr;
			grid-template-areas:
			"info info"
			"values values"
			"github youtube";
		}
	}
	.info{
		border-radius: 24px;
		margin-block: 0.5rem;
		grid-area: info;
		background-color: #9c9c9c49;
	}
	.values{
		grid-area: values;
	}
	.youtube, .github {
        border-radius: 24px;
        margin-inline: 1rem;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .youtube {
        grid-area: youtube;
        background-color: #ff6c6249;
    }
	.github {
        grid-area: github;
        background-color: #489dff49;
    }
    .youtube h3, .github h3 {
        text-align: center;
        font-size: clamp(2em, 2vw, 2.5em);
        margin: 0;
        color: white;
    }
    
	

	#proyectos{
		
	}
	.scrollContainer{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		gap: 0.5vw;
	}
	.scroll{
		border: 0;
		height: auto;
		width: 1px;
		background: #ffffff;
		margin: 0 3vw;
	}
	@keyframes rotateAnimation {
	0% {
		height: 0px;
	}
	100% {
		height: 600px;
	}
	}
	.proyectContainer{
		flex: 12;
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}
	.semester{
		color: var(--cubitz1-dark);
		font-size: clamp(1.5em, 2vw, 2.5em);
		font-weight: lighter;
		font-family: "lekton", sans-serif;
		margin: 0;
	}

	#equipo{
		display: flex;
		flex-direction: column;
	}
	.teamContainer{
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		grid-auto-flow: row;
		row-gap: 1rem;
		column-gap: 2rem;
	}
	h2{
		text-align: center;
		font-size: clamp(2em, 3vw, 3em);
		font-family: "aldrich", sans-serif;
		animation: glow 2s ease-in-out infinite alternate;
	}
	@keyframes glow {
        from {
        text-shadow: 0 0 20px #2d9da9;
        }
        to {
        text-shadow: 0 0 30px #34b3c1, 0 0 10px #4dbbc7;
        }
    }
</style>