---
import Icon from "./svg/isotipo.astro";
interface Props {
    names: string[];
	links: string[];
}

const { names,links } = Astro.props;
---
<div>
    <nav>
        <a class="icon" href=`#${links[0]}`><Icon /></a>
        {links.slice(1).map((link,index) => (
            <a href={`#${link}`}>{names[index]}</a>
        ))}
    </nav>
</div>

<style>
    div{
        background-color: rgb(0, 0, 0 , 0.8);
        border-radius: 20px;
        backdrop-filter: blur(5px);
        
        display: flex;
        align-items: center;
        padding-block: 0.4rem;
        padding-inline: 1.5rem;
        gap: 1rem;

        font-family: "aldrich", sans-serif;
    }
    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    nav {
        display: flex;
        gap: 1rem;
        align-items: center;
    }
    a {
        flex: 1;
        font-size: x-large;
        text-decoration: none;
        color: var(--textColor-dark);
        transition: color 0.2s cubic-bezier(.4,0,.2,1);
    }
    @media screen and (max-width: 800px){
        a {
            font-size: large;
        }
        
    }
    @media screen and (max-width: 400px){
        a {
            font-size: small;
        }
    }
    a:hover {
        color: var(--cubitz2-dark);
    }
</style>
