---
interface Props {
    logo: string;
	links: string[];
}

const { links } = Astro.props;
---
<img src="/Cubitz.png" alt="">
<nav>
    <a href="#proyectos">Proyectos</a>
    <a href="#tecnologias">Tecnologias</a>
    <a href="#equipo">Equipo</a>
</nav>
