---
import Icon from "./isotipo.astro";
interface Props {
    logo: string;
	links: string[];
}

const { logo,links } = Astro.props;
---
<div>
    <nav>
        <a href=`#${links[0].toLowerCase()}`><Icon /></a>
        {links.slice(1).map((link) => (
            <a href={`#${link.toLowerCase()}`}>{link.replace("_", " ")}</a>
        ))}
    </nav>
</div>

<style>
    div{
        background-color: rgb(0, 0, 0 , 0.8);
        border-radius: 20px;
        backdrop-filter: blur(5px);
        
        display: flex;
        align-items: center;
        padding-block: 0.4rem;
        padding-inline: 1.5rem;
        gap: 1rem;

        font-family: "aldrich", sans-serif;
    }
    nav {
        display: flex;
        gap: 1rem;
        align-items: center;
    }
    img {
        width: 1.8rem;
    }
    a {
        text-decoration: none;
        color: var(--textColor-dark);
        transition: color 0.2s cubic-bezier(.4,0,.2,1);
    }
    a:hover {
        color: var(--cubitz2-dark);
    }
</style>
