---
interface Props {
    name: string
    title: string
    img: string
}

const { name, title, img  } = Astro.props;
---

<div class="cardContainer">
    <div class="nameContainer">
        <h2 class="name">{name}</h2>
        <h2 class="title">{title}</h2>
    </div>
    <div class="imgContainer"><img src={img} alt="team"/></div>

</div>

<style>
    .cardContainer{
        height: 100%;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
    }
    .nameContainer{
        flex: 0.6;
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: baseline;
        text-align: center;
    }
    .name {
        font-weight: bold;
        font-size: xx-large;
        margin: 0;
        color: var(--cubitz1-dark);
        font-family: "aldrich", sans-serif;
    }
    .title{
        font-size: x-large;
        margin: 0;
        font-family: "lekton", sans-serif;
    }
    .imgContainer{
        flex: 8;
        display: flex;
        justify-content: center;
        border-radius: 12px;
        overflow: hidden;
        object-fit: contain;
    }
    img{
        scale: 1.05;
        height: auto;
        width: 100%;
        object-fit: contain;
        background-color: rgb(100, 100, 100);
    }
</style>