---
interface Props {
	valores: string[]
    tam: number
}

const { valores,tam } = Astro.props
var size =valores.length
var disminution=tam/size
---

<div>
    {valores.toString()}
    {disminution}
</div>

<style>
    div {
        font-size: 0.5rem;
        display: flex;
        gap: 1rem;
        font-family: "aldrich", sans-serif;
        grid-area: values;
    }
</style>